<template>
    <app-layout title="Create New User">
        <template #header>
            <div class="flex align-items-center justify-between">
                <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                    Create New User
                </h2>
            </div>
        </template>

        <div>
            <div class="max-w-7xl mx-auto py-10 sm:px-6 lg:px-8">

                <jet-form-section @submitted="submitUser">
                    <template #title>
                        New User Profile
                    </template>

                    <template #description>
                        Create the new users profile.
                    </template>

                    <template #form>
                        <div class="col-span-6 sm:col-span-4">
                            <jet-label for="first_name" value="Name" />
                            <jet-input id="first_name" type="text" class="mt-1 block w-full" v-model="form.first_name" autocomplete="given-name" />
                            <jet-input-error :message="form.errors.first_name" class="mt-2" />
                        </div>

                        <div class="col-span-6 sm:col-span-4">
                            <jet-label for="last_name" value="Last Name" />
                            <jet-input id="last_name" type="text" class="mt-1 block w-full" v-model="form.last_name" autocomplete="family-name" />
                            <jet-input-error :message="form.errors.last_name" class="mt-2" />
                        </div>

                        <div class="col-span-6 sm:col-span-4">
                            <jet-label for="email" value="Email" />
                            <jet-input id="email" type="email" class="mt-1 block w-full" v-model="form.email" autocomplete="email" />
                            <jet-input-error :message="form.errors.email" class="mt-2" />
                        </div>

                        <div class="col-span-6 sm:col-span-4">
                            <jet-label for="password" value="Password" />
                            <jet-input id="password" type="Password" class="mt-1 block w-full" v-model="form.password" autocomplete="new-password" />
                            <jet-input-error :message="form.errors.password" class="mt-2" />
                        </div>

                        <div class="col-span-6 sm:col-span-4">
                            <jet-label for="role" value="User Role" />

                            <select class="mt-1 border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm" v-model="form.role">
                                <template v-for="role in roles">
                                    <option v-if="role.name != 'super-admin'" :value="role.name">
                                        {{ role.name }}
                                    </option>
                                </template>
                            </select>

                            <jet-input-error :message="form.errors.role" class="mt-2" />
                        </div>
                    </template>

                    <template #actions>
                        <jet-action-message :on="form.recentlySuccessful" class="mr-3">
                            Saved.
                        </jet-action-message>

                        <jet-button :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                            Save
                        </jet-button>
                    </template>
                </jet-form-section>

            </div>
        </div>

    </app-layout>
</template>

<script>
import { defineComponent } from '@vue/runtime-core'
import AppLayout from '@/Layouts/AppLayout.vue'
import JetButton from '@/Jetstream/Button.vue'
import JetFormSection from '@/Jetstream/FormSection.vue'
import JetInput from '@/Jetstream/Input.vue'
import JetInputError from '@/Jetstream/InputError.vue'
import JetLabel from '@/Jetstream/Label.vue'
import JetActionMessage from '@/Jetstream/ActionMessage.vue'
import JetSecondaryButton from '@/Jetstream/SecondaryButton.vue'

export default defineComponent({
    props: ['roles'],

    components: {
        AppLayout,
        JetActionMessage,
        JetButton,
        JetFormSection,
        JetInput,
        JetInputError,
        JetLabel,
        JetSecondaryButton
    },

    data() {
        return {
            form: this.$inertia.form({
                first_name: '',
                last_name: '',
                email: '',
                password: '',
                role: this.roles[1].name
            }),
        }
    },

    created() {       
    },

    methods: {
        submitUser() {
            this.form.post(route('users.store'), this.form)
        },
    }
})
</script>
