<template>
    <app-layout title="Edit User">
        <template #header>
            <div class="flex align-items-center justify-between">
                <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                    Edit User - {{ user.name }}
                </h2>
            </div>
        </template>

        <div>
            <div class="max-w-7xl mx-auto py-10 sm:px-6 lg:px-8">

                <jet-form-section @submitted="submitUser">
                    <template #title>
                        Edit User Profile
                    </template>

                    <template #description>
                        Edit the users profile.
                    </template>

                    <template #form>
                        <div class="col-span-6 sm:col-span-4">
                            <jet-label for="name" value="Name" />
                            <jet-input id="name" type="text" class="mt-1 block w-full" v-model="form.name" autocomplete="given-name" />
                            <jet-input-error :message="form.errors.name" class="mt-2" />
                        </div>

                        <!-- <div class="col-span-6 sm:col-span-4">
                            <jet-label for="last_name" value="Last Name" />
                            <jet-input id="last_name" type="text" class="mt-1 block w-full" v-model="form.last_name" autocomplete="family-name" />
                            <jet-input-error :message="form.errors.last_name" class="mt-2" />
                        </div> -->

                        <div class="col-span-6 sm:col-span-4">
                            <jet-label for="email" value="Email" />
                            <jet-input id="email" type="email" class="mt-1 block w-full" v-model="form.email" autocomplete="email" />
                            <jet-input-error :message="form.errors.email" class="mt-2" />
                        </div>

                        <div class="col-span-6 sm:col-span-4">
                            <jet-label for="password" value="New Password" />
                            <jet-input id="password" type="Password" class="mt-1 block w-full" v-model="form.password" autocomplete="new-password" />
                            <jet-input-error :message="form.errors.password" class="mt-2" />
                        </div>

                        <div class="col-span-6 sm:col-span-4" v-if="!user.role.includes('super-admin')">
                            <jet-label for="role" value="User Role" />

                            <select class="mt-1 border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm" v-model="form.role">
                                <template v-for="role in roles">
                                    <option v-if="role.name != 'super-admin'" :value="role.name" :selected="{ 'true': role.name == user.role }">
                                        {{ role.name }}
                                    </option>
                                </template>
                            </select>

                            <jet-input-error :message="form.errors.role" class="mt-2" />
                        </div>               

                    </template>

                    <template #actions>
                        <jet-action-message :on="form.recentlySuccessful" class="mr-3">
                            Saved.
                        </jet-action-message>

                        <jet-button :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                            Save
                        </jet-button>
                    </template>
                </jet-form-section>

                <template v-if="!user.role.includes('super-admin')">
                    <jet-section-border />

                    <jet-action-section>
                        <template #title>
                            Delete User
                        </template>

                        <template #description>
                            Delete the users profile.
                        </template>

                        <template #content>
                            <div>
                                <jet-danger-button @click="confirmUserDeletion">
                                    Delete User
                                </jet-danger-button>
                            </div>

                            <!-- Delete Confirmation Modal -->
                            <jet-dialog-modal :show="confirmingUserDeletion" @close="closeModal">
                                <template #title>
                                    Delete Account
                                </template>

                                <template #content>
                                    Are you sure you want to delete this account?
                                </template>

                                <template #footer>
                                    <jet-secondary-button @click="closeModal">
                                        Cancel
                                    </jet-secondary-button>

                                    <jet-danger-button class="ml-2" @click="deleteUser" :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                                        Delete User
                                    </jet-danger-button>
                                </template>
                            </jet-dialog-modal>
                        </template>
                    </jet-action-section>

                </template>

            </div>
        </div>

    </app-layout>
</template>

<script>
    import { defineComponent } from 'vue'
    import AppLayout from '@/Layouts/AppLayout.vue'
    import JetButton from '@/Jetstream/Button.vue'
    import JetFormSection from '@/Jetstream/FormSection.vue'
    import JetInput from '@/Jetstream/Input.vue'
    import JetInputError from '@/Jetstream/InputError.vue'
    import JetLabel from '@/Jetstream/Label.vue'
    import JetActionMessage from '@/Jetstream/ActionMessage.vue'
    import JetSectionBorder from '@/Jetstream/SectionBorder.vue'
    import JetActionSection from '@/Jetstream/ActionSection.vue'
    import JetDangerButton from '@/Jetstream/DangerButton.vue'
    import JetDialogModal from '@/Jetstream/DialogModal.vue'
    import JetSecondaryButton from '@/Jetstream/SecondaryButton.vue'


    export default defineComponent({
        props: ['user', 'roles'],

        components: {
            AppLayout,
            JetActionMessage,
            JetButton,
            JetFormSection,
            JetInput,
            JetInputError,
            JetLabel,
            JetSectionBorder,
            JetActionSection,
            JetDangerButton,
            JetDialogModal,
            JetSecondaryButton
        },

        data() {
            return {
                form: this.$inertia.form({
                    name: this.user.name,
                    //last_name: this.user.last_name,
                    email: this.user.email,
                    password: '',
                    role: this.user.role
                }),
                deleteForm: this.$inertia.form(),

                confirmingUserDeletion: false,
            }
        },

        methods: {
            submitUser() {
                this.form.patch(route('users.update', this.user.id));
            },

            confirmUserDeletion() {
                this.confirmingUserDeletion = true;
            },

            closeModal() {
                this.confirmingUserDeletion = false
            },

            deleteUser() {
                this.deleteForm.delete(route('admin.users.destroy', this.user.id), {
                    preserveScroll: true,
                    onSuccess: () => this.closeModal(),
                })
            },
        },
    })
</script>