<script>
import AppLayout from '@/Layouts/AppLayout.vue'
import Welcome from '@/Jetstream/Welcome.vue'
import DataTable from '@/Components/DataTable.vue'
import ButtonLink from '@/Components/ButtonLink.vue'
import { defineComponent } from '@vue/runtime-core'

export default defineComponent({
    props: ['users', 'create_url'],

    components:{
        AppLayout,
        DataTable
    },
    data() {
        return {
            headings: [
                'ID', 'Name', 'Email', 'Role', 'Created At'
            ]
        }
    }
});
</script>

<template>
    <AppLayout title="Users">
        <template #header>
            <div class="flex align-items-center justify-between">
                <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                    Users
                </h2>
                <a class="ml-4" :href="create_url">
                    Create User
                </a>
            </div>

        </template>

    <data-table :data="users" :headings="headings" not-found="No users found." />
    </AppLayout>
</template>