<template>
    <div class="max-w-7xl mx-auto flex flex-col py-10">
        <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg bg-white">

                    <table class="min-w-full divide-y divide-gray-200" v-if="tableData.length > 0">
                        <thead class="bg-gray-50">
                            <tr>
                                <th v-for="heading in headings" scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                    {{ heading }}
                                </th>

                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider text-right">
                                    Actions
                                </th>
                            </tr>
                        </thead>
                        <tbody class="bg-white divide-y divide-gray-200">
                            <tr v-for="row in tableData" :class="{ 'bg-red-100 text-red-700': row.row_color == 'red', 'bg-green-100 text-green-700': row.row_color == 'green' }">
                                
                                <template v-for="(value, name) in row">
                                    <td 
                                        class="px-6 py-4 whitespace-nowrap" 
                                        v-if="name !== 'edit_url' && name !== 'host_url' && name !== 'row_color'"
                                    >
                                        <template v-if="name == 'role'">
                                            <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800 uppercase">
                                                {{ value }}
                                            </span>
                                        </template>

                                        <template v-else-if="name == 'edit_url'">
                                            <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800 uppercase">
                                                {{ value }}
                                            </span>
                                        </template>

                                        <template v-else-if="name == 'rating'">
                                            <rating-badge class="ml-0">{{ value }}</rating-badge>
                                        </template>

                                        <template v-else>
                                            <div class="text-sm text-gray-900">{{ value }}</div>
                                        </template>
                                    </td>
                                </template>

                                <!-- actions section -->
                                <td class="px-6 py-4 flex justify-end items-center text-right">
                                    <div class="block" v-if="row.edit_url">
                                        <Link class="" :href="row.edit_url">
                                            <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                    <g fill="currentColor" fill-rule="nonzero">
                                                        <path d="M21.3333333,0 C22.8060927,0 24,1.19390733 24,2.66666667 L24,21.3333333 C24,22.8133333 22.8,24 21.3333333,24 L2.66666667,24 C1.19390733,24 0,22.8060927 0,21.3333333 L0,2.66666667 C0,1.19390733 1.19390733,0 2.66666667,0 L21.3333333,0 M18.2666667,8.46666667 C18.56,8.18666667 18.56,7.72 18.2666667,7.44 L16.56,5.73333333 C16.28,5.44 15.8133333,5.44 15.5333333,5.73333333 L14.2,7.06666667 L16.9333333,9.8 L18.2666667,8.46666667 M5.33333333,15.92 L5.33333333,18.6666667 L8.08,18.6666667 L16.16,10.5866667 L13.4133333,7.84 L5.33333333,15.92 Z"></path>
                                                    </g>
                                                </g>
                                            </svg>
                                        </Link>
                                    </div>
                                    <div v-if="row.host_url">
                                        <Link class="ml-2 block" :href="row.host_url">
                                            <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                    <g fill="currentColor" fill-rule="nonzero">
                                                        <path d="M19.2,16.8 L14.4,12.96 L14.4,16.8 L4.8,16.8 L4.8,7.2 L14.4,7.2 L14.4,11.04 L19.2,7.2 M21.6,0 L2.4,0 C1.0745166,0 0,1.34314575 0,3 L0,21 C0,22.6568542 1.0745166,24 2.4,24 L21.6,24 C22.9254834,24 24,22.6568542 24,21 L24,3 C24,1.335 22.92,0 21.6,0 Z"></path>
                                                    </g>
                                                </g>
                                            </svg>
                                        </Link>
                                    </div>
                                </td>

                            </tr>
                        </tbody>
                    </table>

                    <p v-else class="p-5">{{ notFound }}</p>

                </div>
            </div>
        </div>

        <pagination class="mt-6" :links="data.links" v-if="data.links && data.links.length > 0" />

    </div>
</template>

<script>
    import { defineComponent } from 'vue'
    import { Link } from '@inertiajs/inertia-vue3';
    import Pagination from '@/Components/Pagination.vue'
    import RatingBadge from '@/Components/RatingBadge.vue'

    export default defineComponent({
        props: ['data', 'headings', 'notFound'],

        components: {
            Link,
            Pagination,
            RatingBadge,
        },

        watch: { 
            data: function(newVal, oldVal) {
                if (newVal.data) {
                    this.tableData = newVal.data;
                } else {
                    this.tableData = newVal;
                }
            }
        },

        created() {
            if (this.data.data) {
                this.tableData = this.data.data;
            } else if (this.data) {
                this.tableData = this.data;
            }

        },

        data() {
            return {
                tableData: {},
           }
        }
    })
</script>