<template>
    <div class="relative">
        <ckeditor :editor="editor" v-model="editorData" :config="editorConfig"></ckeditor>
    </div>
</template>

<script>
    import { defineComponent } from 'vue'
    import CKEditor from '@ckeditor/ckeditor5-vue';
    import ClassicEditor from '@ckeditor/ckeditor5-build-classic';

    export default defineComponent({
        props: {
            value: {
                type: String,
                default: ''
            }
        }, 

        components: {
            ckeditor: CKEditor.component
        },

        data() {
            return {
                editor: ClassicEditor,
                editorData: this.value,
                editorConfig: {
                    toolbar: [ 'bold', 'italic', '|', 'link' ]
                }
            };
        },

        mounted() {
        },

        methods: {
            update() {
                this.$emit('input', this.editorData);
            }
        }
    })
</script>

<style>
    .ck.ck-editor__editable_inline p {
        margin-bottom: var(--ck-spacing-large);
    }
</style>