<template>
    <div class="pt-4 max-w-7xl mx-auto sm:px-6 lg:px-8">

        <div v-if="$page.props.flash.error">
            <div v-if="Array.isArray($page.props.flash.error)" class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                <p v-for="error in $page.props.flash.error" class="text-md text-red-600 mb-3">{{ error }}</p>
            </div>

            <div v-else class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                <p class="text-md text-red-600">{{ $page.props.flash.error }}</p>
            </div>
        </div>

        <div v-if="$page.props.flash.success">
            <div v-if="Array.isArray($page.props.flash.success)" class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative" role="alert">
                <p v-for="success in $page.props.flash.success" class="text-md text-green-600 mb-3">{{ success }}</p>
            </div>

            <div v-else class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative" role="alert">
                <p class="text-md text-green-600">{{ $page.props.flash.success }}</p>
            </div>
        </div>

        <div v-if="$page.props.flash.message">
            <div v-if="Array.isArray($page.props.flash.message)" class="bg-blue-100 border border-blue-400 text-blue-700 px-4 py-3 rounded relative" role="alert">
                <p v-for="message in $page.props.flash.message" class="text-md text-blue-600 mb-3">{{ message }}</p>
            </div>

            <div v-else class="bg-blue-100 border border-blue-400 text-blue-700 px-4 py-3 rounded relative" role="alert">
                <p class="text-md text-blue-600">{{ $page.props.flash.message }}</p>
            </div>
        </div>

    </div>
</template>

<script>
    import { defineComponent } from 'vue'

    export default defineComponent({
        props: {
        }
    })
</script>