<template>
    <jet-label :for="fieldKey" :value="beautifyKey(fieldKey)" class="capitalize mb-1" />

    <template v-if="fieldType == 'text'">
        <jet-input :id="fieldKey" type="text" class="block w-full" @input="$emit('update:modelValue', $event.target.value)" :value="fieldValue" />
    </template>

    <div v-else-if="fieldType == 'image'" class="flex items-center">
        <jet-input :id="fieldKey" type="file" class="inline-block grow w-full" @input="$emit('update:modelValue', $event.target.files[0])" />
        <a class="inline-block ml-2.5 text-xs w-24" v-if="fieldValue" :href="fieldValue">
            <img :src="fieldValue" alt="Preview Image" class="block rounded-md">
        </a>
    </div>

    <div v-else-if="fieldType == 'file'" class="flex items-stretch">
        <jet-input :id="fieldKey" type="file" class="nline-block grow w-full" @input="$emit('update:modelValue', $event.target.files[0])" />
        <button-link class="inline-block ml-2.5 text-xs w-32" v-if="fieldValue" :href="fieldValue">View File</button-link>
    </div>

    <template v-else-if="fieldType == 'editor'">
        <editor @input="this.$emit('update:modelValue', $event.target.innerHTML)" :value="fieldValue"></editor>
    </template>

    <template v-if="fieldType == 'textarea'">
        <textarea :id="fieldKey" type="text" class="border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm block w-full" @input="$emit('update:modelValue', $event.target.value)" rows="5">{{ fieldValue }}</textarea>
    </template>

    <jet-input-error :message="fieldError" class="mt-2" />
</template>

<script>
    import { defineComponent } from 'vue'
    import JetInput from '@/Jetstream/Input.vue'
    import JetInputError from '@/Jetstream/InputError.vue'
    import JetLabel from '@/Jetstream/Label.vue'
    import ButtonLink from '@/Components/ButtonLink.vue'
    import Editor from '@/Components/Editor.vue'

    export default defineComponent({
        props: ['fieldKey', 'fieldValue', 'fieldType', 'fieldError'],

        components: {
            JetInput,
            JetInputError,
            JetLabel,
            ButtonLink,
            Editor
        },

        methods: {
            beautifyKey(key) {
                return key.replaceAll('_', ' ');
            }
        }
    })
</script>