<template>
    <div class="flex justify-center">
        <span class="relative z-0 inline-flex shadow-sm rounded-md" v-if="links.length > 3">
            <template v-for="(link, k) in links" :key="k">
                <div v-if="link.url === null"  class="relative inline-flex items-center px-4 py-2 -ml-px text-sm font-medium text-gray-500 bg-white border border-gray-300 cursor-default leading-5" :class="{ 'rounded-l' : k==0, 'rounded-r' : k==links.length - 1 }" v-html="link.label" />
                
                <Link v-else class="relative inline-flex items-center px-4 py-2 -ml-px text-sm font-medium text-gray-700 bg-white border border-gray-300 leading-5 hover:text-gray-500 focus:z-10 focus:outline-none focus:ring ring-gray-300 focus:border-blue-300 active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150" :class="{ 'bg-gray-800 text-white': link.active, 'rounded-l' : k==0, 'rounded-r' : k==links.length - 1 }" :href="link.url" v-html="link.label" />
            </template>
        </span>
    </div>
</template>

<script>
    import { defineComponent } from 'vue';
    import { Link } from '@inertiajs/inertia-vue3';

    export default defineComponent({
        components: {
            Link,
        },

        props: {
            links: {
                type: Array,
                default: [],
            },
        }
    })
</script>