<template>
    <div v-if="instore && calendar.length == 0" class="calendar">
        <h1 class="text-center mt-20 mb-10">Please select a store</h1>

        <select class="form__input form__input--select mx-auto" v-model="selectedStore">
            <template v-for="store in stores" :key="store.name">
                <option :value="store.id" :selected="{ 'true': store.id == selectedStore }">
                    {{ store.name }}
                </option>
            </template>
        </select>

        <div class="text-center mt-10">
            <a class="btn" href="#" @click.stop.prevent="getStartWeek()">Select Store</a>
        </div>
    </div>

    <div v-if="calendar.length > 0" class="calendar">
        <h1 class="text-center my-20">Please select a date and time</h1>

        <div class="calendar__controls mb-14">
            <a class="calendar__btn calendar-prev" @click="calendarPrevBtn" :class="{'disabled' : !calendarPrev}">
                <svg aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z"></path></svg>
            </a>

            <div class="calendar__label">{{ formatDate(calendar[0].date, 'month_name')  }} {{ formatDate(calendar[0].date, 'year')  }}</div>

            <a class="calendar__btn calendar-next" @click="calendarNextBtn" :class="{'disabled' : !calendarNext}">
                <svg aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"></path></svg>
            </a>
        </div>

        <div class="table-head grid grid-cols-7">
            <div v-for="day in calendar" class="table__col">{{ formatDate(day.date, 'dow') }}</div>
        </div>

        <div class="table-body grid grid-cols-7">
            <div v-for="day in calendar" class="table__col" :class="{'table__col--old' : day.old}">
                <div v-if="!day.old" class="col__circle" :class="{'col__circle--today' : day.today}">
                <!-- <div v-if="!day.old" class="col__circle"> -->
                    <a class="circle__link" @click="selectDate($event, day.date)">{{ formatDate(day.date, 'day') }}</a>
                </div>

                <!-- <div v-if="day.old" class="col__circle" :class="{'col__circle--today' : day.today}"> -->
                <div v-if="day.old" class="col__circle">
                    <div>{{ formatDate(day.date, 'day') }}</div>
                </div>
            </div>
        </div>

        <div class="available-times" v-if="timeSlots.length > 0">
            <p class="section__heading">Available Times</p>

            <div class="time-slots">
                <div @click="selectTime($event, time)" class="time-slot" v-for="time in timeSlots">
                    {{ time }}
                </div>
            </div>
        </div>

        <div class="mt-20" v-else-if="timeSlots.length == 0 && showTimeSlots">
            <p class="section__heading">No time slots available</p>
        </div>
    </div>

    <form class="form form--customer mt-20" action="#" @submit.prevent="bookAppointment" v-if="showCustomerForm">
        <p class="section__heading">Your Details</p>

        <div class="form__control mb-10">
            <input type="text" class="form__input w-full" v-model="customer.title" autocomplete="honorific-prefix" placeholder="*Title" />
        </div>

        <div class="form__control mb-10">
            <input type="text" class="form__input w-full" v-model="customer.first_name" autocomplete="given-name" placeholder="*First Name" />
        </div>

        <div class="form__control mb-10">
            <input type="text" class="form__input w-full" v-model="customer.last_name" autocomplete="family-name" placeholder="*Last Name" />
        </div>

        <div class="form__control mb-10">
            <input type="text" class="form__input w-full" v-model="customer.email" autocomplete="email" placeholder="*Email" />
        </div>

        <div class="form__control mb-10">
            <input type="text" class="form__input w-full" v-model="customer.phone" autocomplete="tel" placeholder="Telephone" />
        </div>

        <div class="form__control mb-10">
            <label for="marketing_opt_in" className="flex items-start">
                <input type="checkbox" class="form__checkbox" v-model="customer.marketing_opt_in" />
                <span class="ml-3">I would like to receive special offers, news, marketing emails and push notifications from Hydrow Ltd.</span>
            </label>
        </div>

        <button class="btn" type="submit">Book</button>

        <div ref="formErrors" class="mt-5">
            <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 relative" role="alert" v-if="errors.length">
                <p class="text-md text-red-600 mb-3">Please correct the following error(s):</p>

                <p class="text-md text-red" v-for="error in errors">{{ error }}</p>
            </div>
        </div>

        <div ref="successMessage" class="mt-5">
            <div class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 relative" role="alert" v-if="successMessage">
                <p class="text-md text-green-600 mb-0">Appointment Booked!</p>
            </div>
        </div>
    </form>
</template>

<script>
    import { defineComponent } from 'vue'

    export default defineComponent({
        props: ['instore'],

        components: {
        },

        data() {
            return {
                appointment_date: new Date(),
                timeSlots: [],
                calendar: [],
                calendarNext: true,
                calendarPrev: false,
                today: new Date(),
                dow:  ['Sun','Mon','Tue','Wed','Thu','Fri','Sat'],
                months: ['January','February','March','April','May','June','July','August','September','October','November','December'],
                showCustomerForm: false,
                customer: {
                    title: '',
                    first_name: '',
                    last_name: '',
                    email: '',
                    phone: '',
                    marketing_opt_in: false,
                },
                errors: [],
                successMessage: false,
                showTimeSlots: false,

                stores: [],
                selectedStore: '',
            }
        },

        created() {
            if (!this.instore) this.getStartWeek();
            if (!this.instore) this.getVirtualStoreId();
            if (this.instore) this.getStores();
        },

        mounted() {
            if (this.instore) this.getStores();
            if (!this.instore) this.getVirtualStoreId();
        },

        methods: {
            getStores() {
                axios.get('/api/calendar/stores')
                .then((response) => this.stores = response.data.data)
                .catch((err) => console.log(err));
            },

            getVirtualStoreId() {
                axios.get('/api/calendar/virtual')
                .then((response) => this.selectedStore = response.data.data.id)
                .catch((err) => console.log(err));
            },

            getAvailableTimes() {
                this.timeSlots = [];
                this.showTimeSlots = false;
                this.successMessage = false;
                this.errors = [];

                axios.post('/api/getAvailableTimes', { 
                    appointment_date: this.appointment_date,
                    selected_store: this.selectedStore, 
                })
                .then((response) => {
                    this.showTimeSlots = true;
                    this.timeSlots = response.data.data;
                })
                .catch((err) => {
                    console.log(err);
                });
            },

            bookAppointment() {
                var current = this;
                current.errors = [];

                const dataToSend = {
                    appointment_date_time: this.appointment_date, 
                    customer: this.customer,
                    selected_store: this.selectedStore,
                };

                axios.post('/api/bookAppointment', dataToSend).then((response) => {
                    // console.log(response);
                    this.successMessage = true;
                    
                    window.setTimeout(() => {
                        scroll({
                            top: this.$refs.successMessage.offsetTop,
                            behavior: "smooth"
                        });
                    }, 100);
                }).catch((err) => {
                    if (err.response.status === 422) {
                        if (typeof err.response.data.errors !== "undefined" && Object.keys(err.response.data.errors).length > 0) {
                            Object.keys(err.response.data.errors).forEach(function (key, index) {
                                for (var i = 0; i < err.response.data.errors[key].length; i++) {
                                    current.errors.push(err.response.data.errors[key][i]);
                                }
                            });
                        } else {
                            current.errors.push(err.response.data.message);
                        }
                    } else {
                        current.errors.push('Something went wrong. Please try again, if the problem persists please contact support.');
                    }

                    if (this.errors.length) {
                        window.setTimeout(() => {
                            scroll({
                                top: this.$refs.formErrors.offsetTop,
                                behavior: "smooth"
                            });
                        }, 100);
                    }
                });
            },

            //Calendar Functions

            getCalendarDays(startDay) {
                for (let i = 1; i <= 7; i++) {
                    let first = startDay.getDate() - (startDay.getDay() == 0 ? 7 : startDay.getDay()) + i;
                    let day = new Date(startDay.setDate(first));
                    this.calendar.push({ 
                        'date': day,
                        'old' : day < this.today ? true : false,
                        'today' : day.setHours(0,0,0,0) == this.today.setHours(0,0,0,0) ? true : false,
                    });
                }
            },

            getNextWeek() {
                let nextWeek = new Date();
                this.calendar = [];
                nextWeek.setUTCDate(nextWeek.getUTCDate() + (7 - nextWeek.getUTCDay()) % 7 + 1);
                this.getCalendarDays(nextWeek);
            },

            getStartWeek() {
                this.calendar = [];
                this.getCalendarDays(new Date());
            },

            calendarPrevBtn() {
                if (this.calendarPrev) this.getStartWeek();
                this.calendarNext = true;
                this.calendarPrev = false;
            },

            calendarNextBtn() {
                if (this.calendarNext) this.getNextWeek();
                this.calendarPrev = true;
                this.calendarNext = false;
            },

            formatDate(date, format) {
                if (format === 'day') {
                    return date.getDate();
                }

                if (format === 'month') {
                    return date.getMonth();
                }

                if (format === 'year') {
                    return date.getFullYear();
                }

                if (format === 'dow') {
                    return this.dow[date.getDay()];
                }

                if (format === 'month_name') {
                    return this.months[date.getMonth()];
                }
            },

            selectDate(event, date) {
                this.appointment_date = date;
                this.showCustomerForm = false;

                let circles = document.querySelectorAll('.col__circle.col__circle--active');

                for (let i = 0; i < circles.length; ++i) {
                    circles[i].classList.remove('col__circle--active');
                }

                event.target.parentNode.classList.add("col__circle--active");

                this.getAvailableTimes();
            },

            selectTime(event, time) {
                //this.timeSlots = [];
                this.successMessage = false;
                this.errors = [];

                let times = document.querySelectorAll('.time-slot.time-slot--active');

                for (let i = 0; i < times.length; ++i) {
                    times[i].classList.remove('time-slot--active');
                }

                event.target.classList.add("time-slot--active");

                let [hours, minutes] = time.split(':');

                this.appointment_date.setHours(hours);
                this.appointment_date.setMinutes(minutes);

                this.showCustomerForm = true;
            }
        },
    })
</script>

<style lang="scss">
    .section__heading {
        font-size: 1.25rem;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.23;
        letter-spacing: normal;  

        @screen lg {
            font-size: 1.625rem;
            margin-bottom: 3.125rem;
        }
    }

    .calendar {
        .calendar__controls {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .calendar__label {
                font-size: 1.25rem;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.23;
                letter-spacing: normal;

                @screen lg {
                    font-size: 1.625rem;
                }
            }

            .calendar__btn {
                cursor: pointer;
                display: flex;

                &.disabled {
                    opacity: 0.3;
                }

                svg {
                    width: 18px;
                }
            }
        }

        .table__col {
            text-align: center;
            padding: 0.625rem 0;
            font-size: 1rem;
            font-weight: 400;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.23;
            letter-spacing: normal;
            margin-bottom: 0;

            @screen sm {
                font-size: 1.25rem;
            }

            @screen lg {
                font-size: 1.625rem;
                margin-bottom: 1.875rem;
            }
        }

        .table-head {
            .table__col {
                font-weight: 600;

                @screen lg {
                    margin-bottom: 1.25rem;
                }
            }
        }

        .table-body {
            .table__col {
                cursor: pointer;

                &.table__col--old {
                    opacity: 0.3;
                }

                .col__circle {
                    border-radius: 50%;
                    margin: auto;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: 0.3s;
                    height: 30px;
                    width: 30px;

                    @screen lg {
                        height: 55px;
                        width: 55px;
                    }

                    &--today {
                        background-color: theme('colors.lightGrey');
                        color: theme('colors.white');
                    }

                    &--active {
                        background-color: theme('colors.blue');
                        color: theme('colors.white');
                    }

                    .circle__link {
                        display: flex;
                        width: 100%;
                        height: 100%;
                        justify-content: center;
                        align-items: center;
                        font-size: 1rem;
                        font-weight: 600;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.23;
                        letter-spacing: normal;

                        @screen sm {
                            font-size: 1.25rem;
                        }

                        @screen lg {
                            font-size: 1.625rem;
                        }
                    }
                }
            }
        }
    }

    .available-times {
        margin-top: 1.875rem;

        .time-slots {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -0.4375rem;

            .time-slot {
                flex: 0 0 calc(33.3333333333% - 0.875rem); 
                border: solid 2px theme('colors.darkBlue');;
                text-align: center;
                padding: 0.625rem 0;
                margin: 0.4375rem;
                transition: 0.3s;
                cursor: pointer;
                font-size: 1rem;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.23;
                letter-spacing: normal;

                @screen sm {
                    flex-basis: calc(16.6666666667% - 0.875rem);
                    font-size: 1.25rem;
                }

                @screen lg {
                    font-size: 1.625rem;
                }

                &:hover,
                &:focus,
                &--active {
                    border-color: theme('colors.blue');
                    background-color: theme('colors.blue');
                    color: theme('colors.white');
                }
            }
        }
    }
</style>