<template>
    <header>
        <nav class="sticky-nav sticky-nav--static bg-blue text-white">
            <div class="nav__inner">
                <a href="/">
                    <img class="nav__logo" src="/img/hydrow_logo_white.svg" alt="Hydrow Logo">
                </a>

                <div class="nav__items">
                    <a href="https://hydrow.co.uk/" class="nav__link">Return to main site</a>
                </div>

                <a class="nav__btn" href="#" @click.stop.prevent="toggleNav()">
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
            </div>

            <div class="nav__items nav__items--mobile" ref="navItems">
                <a href="https://hydrow.co.uk/" class="nav__link">Return to main site</a>
            </div>
        </nav>
    </header>
</template>

<script>
    import { defineComponent } from 'vue'

    export default defineComponent({
        components: {
        },

        data() {
            return {
            }
        },

        created() {
        },

        methods: {
            toggleNav() {
                this.slideToggle(this.$refs.navItems);
            },

            slideToggle(target, duration = 500) {
                if (window.getComputedStyle(target).display === 'none') {
                    return this.slideDown(target, duration);
                } else {
                    return this.slideUp(target, duration);
                }
            },

            slideUp(target, duration=500) {
                target.style.transitionProperty = 'height, margin, padding';
                target.style.transitionDuration = duration + 'ms';
                target.style.boxSizing = 'border-box';
                target.style.height = target.offsetHeight + 'px';
                target.offsetHeight;
                target.style.overflow = 'hidden';
                target.style.height = 0;
                target.style.paddingTop = 0;
                target.style.paddingBottom = 0;
                target.style.marginTop = 0;
                target.style.marginBottom = 0;

                window.setTimeout( () => {
                      target.style.display = 'none';
                      target.style.removeProperty('height');
                      target.style.removeProperty('padding-top');
                      target.style.removeProperty('padding-bottom');
                      target.style.removeProperty('margin-top');
                      target.style.removeProperty('margin-bottom');
                      target.style.removeProperty('overflow');
                      target.style.removeProperty('transition-duration');
                      target.style.removeProperty('transition-property');
                }, duration);
            },

            slideDown(target, duration=500) {
                target.style.removeProperty('display');
                let display = window.getComputedStyle(target).display;
                if (display === 'none') display = 'block';
                target.style.display = display;
                let height = target.offsetHeight;
                target.style.overflow = 'hidden';
                target.style.height = 0;
                target.style.paddingTop = 0;
                target.style.paddingBottom = 0;
                target.style.marginTop = 0;
                target.style.marginBottom = 0;
                target.offsetHeight;
                target.style.boxSizing = 'border-box';
                target.style.transitionProperty = "height, margin, padding";
                target.style.transitionDuration = duration + 'ms';
                target.style.height = height + 'px';
                target.style.removeProperty('padding-top');
                target.style.removeProperty('padding-bottom');
                target.style.removeProperty('margin-top');
                target.style.removeProperty('margin-bottom');

                window.setTimeout( () => {
                    target.style.removeProperty('height');
                    target.style.removeProperty('overflow');
                    target.style.removeProperty('transition-duration');
                    target.style.removeProperty('transition-property');
                }, duration);
            }
        },
    })
</script>

<style lang="scss">
    
</style>
