<template>

    <footer class="footer bg-cream sm:flex justify-between">

        <div>
            <a href="https://hydrow.co.uk/">
                <img class="footer__logo" src="/img/hydrow_logo_aqua.svg" alt="Hydrow Logo">
            </a>

            <div class="footer__socials flex">
                <a class="social__link" href="https://www.youtube.com/c/HydrowRower" target="_blank">
                    <img class="social__icon" src="/img/youtube.svg" alt="Follow us on Youtube">
                </a>
                <a class="social__link" href="https://www.facebook.com/hydrow/" target="_blank">
                    <img class="social__icon" src="/img/facebook.svg" alt="Follow us on Facebook">
                </a>
                <a class="social__link" href="https://twitter.com/hydrow_by_Crew" target="_blank">
                    <img class="social__icon" src="/img/twitter.svg" alt="Follow us on Twitter">
                </a>
                <a class="social__link" href="https://www.instagram.com/hydrow/" target="_blank">
                    <img class="social__icon" src="/img/instagram.svg" alt="Follow us on Instagram">
                </a>
            </div>
        </div>

        <div class="footer__signup">
            <h2 class="signup__heading">SIGN UP FOR PRODUCT NEWS, COMMUNITY CONTENT & VERY SPECIAL OFFERS</h2>
            <a class="btn btn--red" href="https://hydrow.co.uk/sign-up" target="_blank">Sign up</a>
        </div>

    </footer>

</template>

<script>
    import { defineComponent } from 'vue'

    export default defineComponent({
        components: {
        },

        data() {
            return {
            }
        },

        created() {
        },

        methods: {
        },
    })
</script>

<style lang="scss">
    .footer {
        padding: 5rem 1.25rem;

        @screen lg {
            padding: 6.25rem 1.25rem;
        }

        @screen xl {
            padding: 6.25rem 3.125rem;
        }

        @screen 2xl {
            padding: 6.25rem;
        }
    }

    .footer__logo {
        max-width: 100%;
        width: 170px;
        margin-bottom: 1.875rem;

        @screen lg {
            width: 210px;
        }

        @screen 2xl {
            width: 270px;
        }
    }

    .footer__socials {
        .social__link {
            margin-left: 1.25rem;
            background-color: theme('colors.customRed');
            padding: 0.625rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;

            &:first-child {
                margin-left: 0;
            }
        }

        .social__icon {
            width: 22px;
            height: 22px;
        }
    }

    .footer__signup {
        margin-top: 3.125rem;

        @screen sm {
            margin-top: 0;
            margin-left: 3.125rem;
            max-width: 50%;
        }

        @screen lg {
            margin-left: 6.25rem;
        }

        @screen 2xl {
            max-width: 660px;
        }
    }

    .signup__heading {
        font-size: 1rem;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.23;
        letter-spacing: 2.6px;
        margin-bottom: 1.875rem;

        @screen md {
            font-size: 1.25rem;
        }

        @screen lg {
            font-size: 1.375rem;
        }

        @screen 2xl {
            font-size: 1.625rem;
        }
    }
    
</style>
